@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("https://fonts.cdnfonts.com/css/permanent-marker");
@import url("https://fonts.cdnfonts.com/css/pixelify-sans");
@import url("https://fonts.cdnfonts.com/css/rowdies"); */
@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* styles/globals.css */
#root {
  width: 100%;
  font-family: "Pixelify Sans", sans-serif;
  background-color: #fbfbfb;
}

body {
  background-color: #fbfbfb;
}

header {
  max-width: 1280px;
  color: #202223;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

header .text:hover {
  color: #498ee4;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  /* 150% */
}

.menu-toggle {
  display: none;
  /* Ẩn input checkbox */
}

.menu-icon {
  display: block;
  font-size: 32px;
  color: #000;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}

.mobile-menu {
  position: absolute;
  top: 48px;
  /* right: -150px; */
  width: 100px;
  height: fit-content;
  background-color: #e7e4e4;
  border-radius: 12px;
  transition: left 0.3s ease;
  opacity: 0;
  pointer-events: none;
  z-index: 99;
  display: none;
}

.menu-toggle:checked + .menu-icon + .mobile-menu {
  right: 30px;
  opacity: 1;
  pointer-events: auto;
  padding: 0 20px;
  display: block;
}

.menu-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-items li {
  padding: 10px 0;
  display: flex;
  align-items: center;
  /* border-bottom: 1px solid #555; */
}

.menu-items li:last-child {
  border-bottom: none;
}

.menu-items li a {
  text-decoration: none;
  display: block;
  padding: 5px;
}

.menu-items li a:hover {
  background-color: #555;
}

.banner h1 {
  font-family: "Rowdies", sans-serif;
  font-size: 64px;
  font-weight: 400;
  line-height: 72px;
  text-align: center;
}

.banner h4 {
  font-family: "Pixelify Sans", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.browser {
  border-radius: 100px;
  border: 1px solid #ebeef0;
}

.content-banner button {
  width: 164px;
  padding: 10px 16px 12px 16px;
  background-color: #ffedbb;
  border: 2px solid #5e5745;
  box-shadow: 0px -8px 0px 0px #00000033 inset;
  border-radius: 8px;
  font-family: Pixelify Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}
.content-banner button:hover {
  box-shadow: none;
  background-color: #f4d990;
}
.image-banner {
  background-image: url("/images/bg-banner.png");
  background-color: #eeedd8;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: max-content;
  background-color: #aba9a9;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: -150%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #aba9a9 transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

/* .kbuck {
  animation: scale 2s infinite;
} */
/* .join-us {
  animation: fly-coin 2.5s infinite;
} */
.rank {
  animation: scale 2.7s infinite;
}

.catOne {
  animation: fly-catOne 2s infinite;
}

.catTwo {
  animation: fly-catTwo 2.5s infinite;
}

@keyframes fly-coin {
  0% {
    transform: translateY(-30px);
  }

  50% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-30px);
  }
}
@keyframes fly-catOne {
  0% {
    transform: translateY(100px) rotate(12deg);
  }

  40% {
    transform: translateY(-30px) rotate(12deg);
  }

  70% {
    transform: translateY(-30px) rotate(12deg);
  }

  100% {
    transform: translateY(100px) rotate(12deg);
  }
}
@keyframes fly-catTwo {
  0% {
    transform: translateY(100px) rotate(-12deg);
  }

  40% {
    transform: translateY(-30px) rotate(-12deg);
  }

  70% {
    transform: translateY(-30px) rotate(-12deg);
  }

  100% {
    transform: translateY(100px) rotate(-12deg);
  }
}

@keyframes scale {
  0% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(0.8);
  }

  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.5);
  }
}

@media screen and (max-width: 1280px) {
  .banner-content {
    max-width: 570px;
  }
  .banner h1 {
    font-size: 48px;
    line-height: 56px;
  }
}

@media screen and (max-width: 768px) {
  .banner h1 {
    font-size: 36px;
    line-height: 44px;
  }

  .banner h4 {
    font-size: 16px;
    line-height: 24px;
  }
  .content-banner button {
    width: 164px;
    font-size: 16px;
    line-height: 24px;
  }
}
